body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
  }
  h1 {
    text-align: center;
  }
  .exercise {
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 10px;
    background-color:white;
  }
  .logo{
    text-align: center;
  }
  .form {
    float: right;
  }
  nav ul {
    display: flex;
    justify-content: center; 
  }
  
  nav ul li {
    margin-right: 100px;
  }
  
  nav ul li:last-child {
    margin-right: 0;
  }
  .delete-btn{
    background-color: red !important;
  }
  .div ul
  {
    columns: 2;
    margin-right: 2;
  }
  .edit-btn{
    background-color: chocolate !important
  }